
/* formpndaftaran */
body {
    background-color: #f7f7f7;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.registration-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.registration-container h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.form-floating {
    margin-bottom: 20px;
}

.form-control {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'poppins';
    padding: 15px;
    font-size: 1rem;
    color: #333;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}

.form-floating label {
    margin-bottom: 30px;
    font-size: 20px;
    color: #666;
}

.btn-submit {
    background-color: #FFCA2C;
    font-family: 'poppins';
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #DDA15E;
}